/* TB重置样式改版 */
body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #393c45;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16rem;
  text-align: left;
}

select {
  font-size: 12px;
}

table {
  border-collapse: collapse;
}

fieldset,
img {
  border: 0 none;
}

img {
  display: block;
}

fieldset {
  margin: 0;
  padding: 0;
}

fieldset p {
  margin: 0;
  padding: 0 0 0 8px;
}

legend {
  display: none;
}

address,
caption,
em,
strong,
th,
i {
  font-style: normal;
  font-weight: 400;
}

table caption {
  margin-left: -1px;
}

hr {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #e4e4e4;
  border-width: 1px 0;
  clear: both;
  height: 2px;
  margin: 5px 0;
  overflow: hidden;
}

ol,
ul,
li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

caption,
th {
  text-align: left;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ””;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
  outline: none;
  /* FF Opera */
  position: relative;
  -webkit-tap-highlight-color: transparent;
  /* 给移动端页面加上:active伪类,js中给body绑定touchstart事件，处理函数为空即可 */
}

body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  outline: none;
}

div {
  box-sizing: border-box;
}

button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.2 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
